@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 186 43% 8%;
    --foreground: 72 100% 65%;
    
    --card: 186 43% 8%;
    --card-foreground: 72 100% 65%;
    
    --popover: 186 43% 8%;
    --popover-foreground: 72 100% 65%;
    
    --primary: 72 100% 65%;
    --primary-foreground: 186 43% 8%;
    
    --secondary: 182 37% 18%;
    --secondary-foreground: 72 100% 65%;
    
    --muted: 182 37% 18%;
    --muted-foreground: 72 48% 55%;
    
    --accent: 82 52% 33%;
    --accent-foreground: 72 100% 65%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 72 100% 65%;
    
    --border: 182 37% 18%;
    --input: 182 37% 18%;
    --ring: 72 100% 65%;
    
    --chart-1: 72 100% 65%;
    --chart-2: 82 52% 33%;
    --chart-3: 182 37% 18%;
    --chart-4: 186 43% 8%;
    --chart-5: 71 100% 62%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 186 43% 8%;
    --foreground: 72 100% 65%;
    
    --card: 186 43% 8%;
    --card-foreground: 72 100% 65%;
    
    --popover: 186 43% 8%;
    --popover-foreground: 72 100% 65%;
    
    --primary: 72 100% 65%;
    --primary-foreground: 186 43% 8%;
    
    --secondary: 182 37% 18%;
    --secondary-foreground: 72 100% 65%;
    
    --muted: 182 37% 18%;
    --muted-foreground: 72 48% 55%;
    
    --accent: 82 52% 33%;
    --accent-foreground: 72 100% 65%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 72 100% 65%;
    
    --border: 182 37% 18%;
    --input: 182 37% 18%;
    --ring: 72 100% 65%;
  }
}

@layer utilities {
  .hide-scrollbar {
    /* Firefox */
    scrollbar-width: none;
    /* IE 10+ */
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300/80 dark:bg-gray-700/80 rounded-full 
           hover:bg-gray-400 dark:hover:bg-gray-600 
           transition-colors duration-200;
  }
  
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937; 
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* thumb color */
    border-radius: 4px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #1f2937; /* track color */
  }

}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: inline-block;
  animation: slide 12s linear infinite;
}